<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016968835849-2lov88kbvram4sdukai0jbe8h0u0432o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016968835849-2lov88kbvram4sdukai0jbe8h0u0432o</string>
	<key>API_KEY</key>
	<string>AIzaSyBL1832zbDijiMbrfZ7d2XIi_hw4LfeyCw</string>
	<key>GCM_SENDER_ID</key>
	<string>1016968835849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.floatsta</string>
	<key>PROJECT_ID</key>
	<string>floatstaapi</string>
	<key>STORAGE_BUCKET</key>
	<string>floatstaapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016968835849:ios:ddd2b0146045218133d9d8</string>
	<key>DATABASE_URL</key>
	<string>https://floatstaapi.firebaseio.com</string>
</dict>
</plist>